@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: nunito;
}

body {
    background-color: #000000;
}

.btns {
    display: none;
}

nav {
    display: flex;
    height: 56px;
    background-color: rgb(145, 1, 1);
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    color: #fff;
}

.navbar-logo {
    display: flex;
    height: 56px;
    gap: 8px;
    align-items: center;
}

.nav-img {
    height: 80px;
}

a {
    text-decoration: none;
    font-family: nunito;
}

.navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: nunito;
}

/*Menu desplegable*/
.menu-toggle {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 3%;
    /*desplaza hacia abajo*/
    transform: translateY(-15%);
    /*Hacia arriba*/
    right: 2.5rem;
    cursor: pointer;
    /*Cursor manita*/
    z-index: 1500;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 70vh;
    background-color: rgba(21, 20, 20, 0.95);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-160%);
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 2000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.menu-toggle .fa-times {
    display: none;
}

.open.fa-times {
    display: block;
}

.open.fa-bars {
    display: none;
}

.open.nav-list {
    transform: translateX(0);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    width: 10rem;
    border-bottom: 2px solid rgba(255, 0, 0, .7);
}

.nav-link {
    display: block;
    color: #fff;
    background-color: rgba(21, 20, 20, 0.95);
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: rgb(223, 25, 39);
    font-weight: bold;
}

/*fin de la barra de navegacion*/

/*estilos del main*/
#products{
    margin-bottom: 40px;
}
.button-ver {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    color: rgb(12, 12, 12);
    background-color: rgb(145, 1, 1);
    border: 1px solid #DD2330;
    border-radius: 4px;
    padding: 1px 4px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    cursor: pointer;
    margin-left: 40px;
    color: #fff;
    width: 120px;
}

.discount {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    margin: 1312px, 64px, 932px, 64px;
    justify-content: center;
    align-items: center;
}

.product-container:hover {
    box-shadow: 0px 10px 20px 0 rgb(229, 221, 207);
}

.product-container {
    margin: 10px 30px;
    padding: 2px 16px;
    position: relative;
    background-color: rgb(229, 221, 207);
    box-shadow: 0px 4px 8px 0 rgba(88, 45, 45, 0.2);
    border-radius: 8px;
    width: 250px;
    height: 360px;
}
.product-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.product-container .button-heart::before {
    display: block;
    margin: 30px 0;
}

span.titulo-item {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.price-product{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.button-ver {
  color: #fff;
  font-weight: 500;
}

.popup-productDetail {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: fit-content;
  background-color: rgba(240, 232, 232, 0.85);
  z-index: 2000;
  padding: 10px;
  margin-top: 70px;
  border-radius: 10px;
  transform: translateX(50%);
 
}

.popup-productDetail .product-detail {
  display: flex;
  flex-direction: column;
  background-color: rgba(21, 20, 20, 0.98);
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(235, 230, 230, 0.5);
}

.product-detail {
  color: #FFF;
}

.product-detail .titulo-item {
  font-size: 25px;
  font-weight: 600;
}

.price-product {
  font-size: 20px;
}

.quantity-product {
  font-size: 14px;
}

.seller-product {
  font-size: 14px;
}

.description-product {
  text-align: justify;
}

.bproduct a {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
}

.bproduct {
  margin: 0 auto;
  padding: 5px;
  margin-top: 16px;
  border: none;
  background-color: red;
  border-radius: 8px;
  font-weight: 500;
}

.fa-times {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
  width: 25px;
  height: 25px;
  z-index: 9999;
  color: #000000;
  cursor: pointer;
}

.close-popup {
  width: 25px;
  height: 25px;
}

/**/

/*WHATSAPP BUTTON*/
#image-whatssap{
    border-radius: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 15px;
    right: 16px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
    background-color:#3d9e5a;
}

.my-float{
	margin-top:16px;
}

/* offset-x > | offset-y ^| blur-radius | spread-radius | color */
@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: scale(1.45);
      opacity: 0;
    }
  }
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
  .nav-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 8;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    margin: 0px;
  }
  @media (max-width: 360px) {
    .nav-bottom {
      width: 320px;
    }
  }
  
  .whatsapp-button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60px;
    height: 60px;
    z-index: 8;
    transition: .3s;
    margin: 10px;
    padding: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
    -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
    -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
    box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  }
  
  .circle-anime {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 60px;
    height: 60px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    transition: .3s;
    background-color: #77bb4a;
    animation: pulse 1.2s 4.0s ease 4;
  }
  
  .popup-whatsapp {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 10px;
    bottom: 85px;
    right: 6px;
    transition: .5s;
    border-radius: 10px;
    background-color: white;
    /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
    -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
    -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
    box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
    animation: slideInRight .6s 0.0s both;
  }
  .popup-whatsapp > div {
    margin: 5px;
  }
  @media (max-width: 680px) {
    .popup-whatsapp p {
      font-size: 0.9em;
    }
  }
  .popup-whatsapp > .content-whatsapp.-top {
    display: flex;
    flex-direction: column;
  }
  .popup-whatsapp > .content-whatsapp.-top p {
    margin-top: 15px;
    color: #585858;
    font-family: nunito;
    font-weight: 400;
    font-size: 1.0em;
  }
  .popup-whatsapp > .content-whatsapp.-bottom {
    display: flex;
    flex-direction: row;
  }
  
  .closePopup {
    display: flex;
    position: absolute;
    right: 15px;
    width: 25px;
    height: 25px;
    margin: 0 0 15px 0;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: red;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
    -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
    box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  }
  .closePopup:hover {
    background-color: rgb(223, 25, 39)
  }
  
  .send-msPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0px 0px 0px 5px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
    -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
    box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  }
  
  .is-active-whatsapp-popup {
    display: flex;
    animation: slideInRight .6s 0.0s both;    /*Lo muestra a la derecha y se demora esos segs en aparecer*/
    background-color: #fafafa;
  }
  
  input.whats-input[type=text] {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border: 0px solid #ffffff;
    border-radius: 20px;
    font-size: 1em;
    background-color: #ffffff;
    padding: 0px 0px 0px 10px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    outline: none;
    transition: .3s;
  }
  @media (max-width: 420px) {
    input.whats-input[type=text] {
      width: 225px;
    }
  }
  input.whats-input::placeholder {
    /* Most modern browsers support this now. */
    color: rgba(68, 68, 68, 0.705);
    opacity: 1;
  }
  input.whats-input[type=text]:focus {
    background-color: #f8f8f8;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    transition: .3s;
  }
  
  .icon-whatsapp-small {
    width: 24px;
    height: 24px;
  }
  
  .icon-whatsapp {
    width: 45px;
    height: 45px;
  }
  
  .icon-font-color {
    color: #ffffff;
  }
  
  .icon-font-color--black {
    color: #333333;
    width: 70%;
}
/*footer*/
#container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

footer {
    background-color: rgb(145, 1, 1);
    color: #fff;
    padding: 20px;
    height: auto;
}

footer p {
    font-size: 15px;
    padding: 8px;
    text-align: center;
    margin-top: 30px;

}

footer a {
    color: #fff;
}

.social-media h4 {
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px #DD2330;

}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 1.5rem;
    color: #fff;
    padding: .8rem 2rem;

}

/*Responsive para pantallas grandes*/
@media screen and (min-width: 750px) {

    .btns {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .btn-us {
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin-right: 16px;
        font-size: 19px;
    }

    .btn-register {
        padding: 5px 8px;
        margin-right: 16px;
        color: white;
        font-weight: bold;
        border: 2px solid red;
        background-color: #000000;
        font-size: 18px;
        border-radius: 8px;
        font-family: nunito;
    }

    .btn-register:hover {
        background-color: rgb(223, 25, 39);
    }

    .btn-login {
        margin-right: 16px;
        padding: 4px 8px;
        background-color: black;
        color: white;
        font-weight: bold;
        border: 2px solid red;
        border-radius: 8px;
        font-size: 18px;
        font-family: nunito;
    }

    .btn-login:hover {
        background-color: rgb(223, 25, 39);
        border: 2px solid rgb(223, 25, 39);
    }

    .btn-cart {
        padding: 5px 8px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 20px;
        font-family: nunito;
    }

    .btn-cart:hover {
        color: black;
    }


    /*CONTACT FORM*/
    h2.contact-form-title {
        font-size: 30px;
    }

    h5.contact-form-title {
        font-size: 16px;
    }

    .contact-form {
        width: 50%;

    }

    .contact-form input {
        min-width: 300px;
        max-width: 800px;

    }

    .contact-form input[type="submit"] {
        font-size: 18px;
        margin-bottom: 12px;
    }

    input.inline {
        min-width: unset;
        max-width: unset;
        margin: 0 0.5em 0 0;
        vertical-align: middle;
    }
}