@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
    font-family: nunito;
}
.usuario{
    background-color: black;
    width: 100%;
    height: 100%;
}
.usuario h1{
    color: white;
    padding: 20px 30px;
}
.usuario .perfil{
    padding: 10px 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr, 1fr);
}
.usuario .img{
    border-radius: 50%;
    
}
.usuario .avatar .button-img{
    position: absolute;
    left: 250px;
    top: 120px;
    background-color: transparent;
    color: black;
    border: 0;
    cursor: pointer;
}
.usuario .avatar{
    margin-left: 50px;
}
.usuario .info1{
    padding-top: 10px;
}
.usuario .info{
    color: rgb(229, 221, 207);
    padding: 10px;
    font-size: 18px;
    width: 350px;
    border: solid 1px rgb(16, 16, 16);
    height: 150px;
    margin: 10px;
}
.usuario .info .button-edit{
    position: absolute;
    left: 360px;
    top: 370px;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}
.usuario .info .button-dir{
    position: absolute;
    left: 360px;
    top: 530px;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}
.usuario .info .button-card{
    position: absolute;
    left: 360px;
    top: 690px;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}
.usuario .info .button-card1{
    position: absolute;
    left: 360px;
    top: 710px;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}
.usuario .store:hover{
    transform: scale(1.2);
}

.usuario .store{
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 16px;
    position: absolute;
    top: 80px;
    right: 280px;
    border: solid 2px #DD2330;
    background-color: #DD2330;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
.usuario .store1{
    color: white;
}
.usuario .grup{
    border-radius: 100px;
    font-size: 16px;
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    border: solid 2px #DD2330;
    background-color: rgb(229, 221, 207);
    margin: 10px;
    color: #DD2330;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
.usuario .grup:hover{
    transform: scale(1.2);
}
.usuario .grupo1 .seguir{
    color: rgb(229, 221, 207);
    margin: 0;
}
.usuario .grupo1{
    position: absolute;
    right: 450px;
    top: 220px;
    
}
.usuario .grupo2{
    position: absolute;
    right: 100px;
    top: 220px;
}
.usuario .grupo2 .seguir{
    color: rgb(229, 221, 207);
    background-color: black;
}

.btns{
    display: none;
}

nav{
    display: flex;
    height: 56px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.navbar-logo{
    display: flex;
    gap: 8px;
    height: 56px;
    align-items: center;
}

.nav-img{
    height: 50px;
}

a{
    text-decoration: none;
    font-family: nunito;
}

.navbar-brand{
    color: red;
    font-weight: 700;
    font-size: 20px;
    font-family: nunito;
}

/*Menu desplegable*/
.menu-toggle {
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    position: absolute;
    top: 5%;       /*desplaza hacia abajo*/
    transform: translateY(-15%);    /*Hacia arriba*/
    right: 2.5rem;
    cursor: pointer;        /*Cursor manita*/
    z-index: 1500;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 60vh;
    background-color: rgba(21, 20, 20, 0.95);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
   
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 2000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;

}

.menu-toggle .fa-times{
    display: none;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    width: 10rem;
    border-bottom: 2px solid rgba(255, 0, 0, .7);
}

.nav-link {
    display: block;
    color: #fff;
    background-color: rgba(21, 20, 20, 0.95);
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: rgb(223, 25, 39);
    font-weight: bold;
}

/*Responsive para pantallas grandes*/
@media screen and (min-width: 750px) {
    .menu-toggle {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .btns{
        display: flex;
    }

    .fa-circle-user{
        display: flex;
        margin-right: 16px;
        margin-top: 16px;
    }
    
    .btn-cart{
        padding: 5px 8px;
        background-color: black;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 20px;
        font-family: nunito;
    }

    .btn-cart:hover{
        color: rgb(223, 25, 39);
    }
}
