@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: nunito;

}

.btns{
    display: none;
}

nav{
    display: flex;
    height: 56px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.navbar-logo{
    display: flex;
    height: 56px;
    align-items: center;
}

.nav-img{
    height: 50px;
}

a{
    text-decoration: none;
    font-family: nunito;
}

.navbar-brand{
    color: red;
    font-weight: 700;
    font-size: 20px;
    font-family: nunito;
}

/*Menu desplegable*/
.menu-toggle {
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    position: absolute;
    top: 5%;       /*desplaza hacia abajo*/
    transform: translateY(-15%);    /*Hacia arriba*/
    right: 2.5rem;
    cursor: pointer;        /*Cursor manita*/
    z-index: 1500;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 70vh;
    background-color: rgba(21, 20, 20, 0.95);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 2000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.menu-toggle .fa-times{
    display: none;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    width: 10rem;
    border-bottom: 2px solid rgba(255, 0, 0, .7);
}

.nav-link {
    display: block;
    color: #fff;
    background-color: rgba(21, 20, 20, 0.95);
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: rgb(223, 25, 39);
    font-weight: bold;
} */

.button-add{
    font-size: 16px;
    text-align: center;
    background-color: #DD2330;
    color: beige;
    border: 2px solid #DD2330;
    border-radius: 6px;
    padding: 2px 6px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}
.button-ver{
    font-size: 14px;
    text-align: center;
    color: rgb(12, 12, 12);
    background-color: rgb(229, 221, 207);
    border: 1px solid #DD2330;
    border-radius: 4px;
    padding: 1px 4px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    cursor: pointer;
}
.button-add:hover{
    background-color: #BF202B;
    color: white;
}
.discount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    margin: 1312px, 64px, 932px, 64px;
}

.product-container:hover{
    box-shadow: 0px 10px 20px 0 rgb(229, 221, 207);
}

.product-container{
    margin: 8px;
    padding: 2px 16px;
    position: relative;
    background-color: rgb(229, 221, 207);
    box-shadow: 0px 4px 8px 0 rgba(88, 45, 45, 0.2);
    border-radius: 8px;
    width: 230px;
    height: 320px;
}

.product-container img {
    width: 190px;
    height: 200px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.product-container h4 {
    margin-bottom: 10px;
    text-align: center;
}
.product-container h5{
    text-align: left;
}
.product-container .button-heart::before{
     display: block;
     margin: 30px 0;
}
.button-heart {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    top: 5%;
    right: 0%;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.button-car {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    top: 15%;
    right: 0%;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
h3 {
    background-color: black;
    color: #ED2532;
    height: 40px;
    padding-left: 20px;
}

.container-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin: 842px, 194px, 1409px, 176px;
}
.box:hover{
    box-shadow:0px 6px 10px 0px rgb(215, 211, 211);
}

.box{
    width: 250px;
    height: 230px;
    margin: 10px;
    padding: 20px;
    border: 3px solid #eeeeee;
    border-radius: 14px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    background-color: rgb(215, 211, 211);
}

.box img{
    width: 60%;
}

.box h2{
    font-size: 16px;
    margin-top: 10px;
}


/*Responsive para pantallas grandes*/
@media screen and (min-width: 750px) {

    .btns{
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .btn-register{
        padding: 5px 8px;
        margin-right: 16px;
        background-color: red;
        color: white;
        font-weight: 500;
        border-color: 2px solid red;
        font-size: 18px;
        border-radius: 8px;
        font-family: nunito;
    }

    .btn-register:hover{
        background-color: rgb(223, 25, 39);
    }
    
    .btn-login{
        margin-right: 16px;
        padding: 4px 8px;
        background-color: black;
        color: white;
        font-weight: 500;
        border: 2px solid red;
        border-radius: 8px;
        font-size: 18px;
        font-family: nunito;
    }

    .btn-login:hover{
        background-color: rgb(223, 25, 39);
        border: 2px solid rgb(223, 25, 39);
    }
    
    .btn-cart{
        padding: 5px 8px;
        background-color: black;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 20px;
        font-family: nunito;
    }

    .btn-cart:hover{
        color: rgb(223, 25, 39);
    }
    

}