*{
    margin: auto;
}

.navbar{
    background-color: black;
    padding: 14px;
    align-items: end;
}

.navbar-brand{
    color: red;
    font-weight: 500;
}

.navbar .btn{
    margin-right: 16px;
    padding: 2px 8px;
    background-color: red;
    color: white;
    font-weight: 500;
    border-color: red;
    font-size: 20px;
}

.navbar .btn2{
    margin-right: 16px;
    padding: 2px 8px;
    background-color: black;
    color: white;
    font-weight: 500;
    border-color: red;
    border-radius: 5px;
    font-size: 20px;
}
.navbar .btn3{
    padding: 2px 8px;
    background-color: black;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 20px;
}
